<%= flash_messages %>
<link href="/stylesheets/ta-custom.css" rel="stylesheet">

<% if current_user.present? && current_user.role?('admin') %>
<h1> HELLO </h1>
<% end %>
<%= react_component 'ArticleApplication' %>