<%= flash_messages %>
<link href="/stylesheets/ta-custom.css" rel="stylesheet">
<%= react_component 'ArticleApplication' %>

<!-- 
<div class="block">
	<header class="header-group">
		<h2>Rails authentication. </h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>
-->